@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/colors.css";
@import "../styles/themes.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins), var(--font-roboto), var(--font-nunito),
      system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}
