:root {
  --radius: 0.625rem;

  --background: oklch(98.463% 0.00181 249.248);

  --foreground: oklch(32.109% 0.00004 271.152);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.141 0.005 285.823);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.141 0.005 285.823);

  --primary: oklch(32.109% 0.00004 271.152);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.967 0.001 286.375);

  --secondary-foreground: oklch(0.21 0.006 285.885);

  --muted: oklch(0.967 0.001 286.375);

  --muted-foreground: oklch(0.552 0.016 285.938);

  --accent: oklch(0.967 0.001 286.375);

  --accent-foreground: oklch(0.21 0.006 285.885);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.92 0.004 286.32);

  --input: oklch(0.92 0.004 286.32);

  --ring: oklch(0.705 0.015 286.067);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.141 0.005 285.823);

  --sidebar-primary: oklch(0.21 0.006 285.885);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.967 0.001 286.375);

  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);

  --sidebar-border: oklch(0.92 0.004 286.32);

  --sidebar-ring: oklch(0.705 0.015 286.067);

  /*! My Own Colors */
  /*? Base colors */
  --bg-dark: oklch(20.398% 0.01587 284.896);
  --text-dark-100: oklch(90.67% 0.0001 271.152);
  --bg-light: oklch(98.463% 0.00181 249.248);
  --text-light-100: oklch(32.109% 0.00004 271.152);
  --error-warning: #ffb3b3;
  --neutral-light-100: #f5f5f5;
  --neutral-light-200: #e5e5e5;
  --neutral-light-300: #d4d4d4;
  --neutral-light-400: #a3a3a3;
  --myneutral-100: #1a1a1a;
  --myneutral-200: #2a2a2a;
  --myneutral-300: #3a3a3a;
  --myneutral-400: #4a4a4a;
  --myneutral-500: #5a5a5a;
  --myneutral-600: #6a6a6a;
  --myneutral-700: #7a7a7a;
  --myneutral-800: #8a8a8a;
  --myneutral-900: #9a9a9a;

  /*? Pastel colors */
  --blue-p-100: #e0f2fe;
  --blue-p-200: #bfdbfe;
  --blue-p-300: #bfe3ff;
  --blue-p-400: #93c5fd;
  --purple-p-100: #ede9fe;
  --purple-p-200: #ddd6fe;
  --purple-p-300: #d6c4ff;
  --purple-p-400: #a5b4fc;
  --mint-p-100: #e0f2f1;
  --mint-p-200: #b8f2e6;
  --mint-p-300: #a7f3d0;
  --mint-p-400: #5eead4;
  --pink-p-100: #ffe4e6;
  --pink-p-200: #fecdd3;
  --pink-p-300: #f8bbd0;
  --pink-p-400: #fda4af;
  --orange-p-100: #fff7ed;
  --orange-p-200: #fed7aa;
  --orange-p-300: #ffc3a0;
  --orange-p-400: #fdba74;
  --yellow-p-100: #fef9c3;
  --yellow-p-200: #fff3b0;
  --yellow-p-300: #fef08a;
}

.dark {
  --background: oklch(20.398% 0.01587 284.896);
  --foreground: oklch(90.67% 0.0001 271.152);

  --card: oklch(0.21 0.006 285.885);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.21 0.006 285.885);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(90.67% 0.0001 271.152);

  --primary-foreground: oklch(32.109% 0.00004 271.152);

  --secondary: oklch(0.274 0.006 286.033);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.274 0.006 286.033);

  --muted-foreground: oklch(0.705 0.015 286.067);

  --accent: oklch(0.274 0.006 286.033);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.552 0.016 285.938);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.21 0.006 285.885);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.274 0.006 286.033);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.552 0.016 285.938);

  /*! My Own Colors */
  /*? Base colors */
  --bg-dark: oklch(20.398% 0.01587 284.896);
  --text-dark-100: oklch(90.67% 0.0001 271.152);
  --bg-light: oklch(98.463% 0.00181 249.248);
  --text-light-100: oklch(32.109% 0.00004 271.152);
  --error-warning: #ffb3b3;
  --neutral-light-100: #f5f5f5;
  --neutral-light-200: #e5e5e5;
  --neutral-light-300: #d4d4d4;
  --neutral-light-400: #a3a3a3;
  --myneutral-100: #1a1a1a;
  --myneutral-200: #2a2a2a;
  --myneutral-300: #3a3a3a;
  --myneutral-400: #4a4a4a;
  --myneutral-500: #5a5a5a;
  --myneutral-600: #6a6a6a;
  --myneutral-700: #7a7a7a;
  --myneutral-800: #8a8a8a;
  --myneutral-900: #9a9a9a;

  /*? Pastel colors */
  --blue-p-100: #e0f2fe;
  --blue-p-200: #bfdbfe;
  --blue-p-300: #bfe3ff;
  --blue-p-400: #93c5fd;
  --purple-p-100: #ede9fe;
  --purple-p-200: #ddd6fe;
  --purple-p-300: #d6c4ff;
  --purple-p-400: #a5b4fc;
  --mint-p-100: #e0f2f1;
  --mint-p-200: #b8f2e6;
  --mint-p-300: #a7f3d0;
  --mint-p-400: #5eead4;
  --pink-p-100: #ffe4e6;
  --pink-p-200: #fecdd3;
  --pink-p-300: #f8bbd0;
  --pink-p-400: #fda4af;
  --orange-p-100: #fff7ed;
  --orange-p-200: #fed7aa;
  --orange-p-300: #ffc3a0;
  --orange-p-400: #fdba74;
  --yellow-p-100: #fef9c3;
  --yellow-p-200: #fff3b0;
  --yellow-p-300: #fef08a;
}
